<template name="People">
    <div class="wrapper">
        <div class="container">
            <div class="people-list">
                <div class="row">
                    <div class="col-md-4">{{> PeopleItem}}</div>
                    <div class="col-md-4">{{> PeopleItem}}</div>
                    <div class="col-md-4">{{> PeopleItem}}</div>
                    <div class="col-md-4">{{> PeopleItem}}</div>
                    <div class="col-md-4">{{> PeopleItem}}</div>
                    <div class="col-md-4">{{> PeopleItem}}</div>
                    <div class="col-md-4">{{> PeopleItem}}</div>
                    <div class="col-md-4">{{> PeopleItem}}</div>
                    <div class="col-md-4">{{> PeopleItem}}</div>
                    <div class="col-md-4">{{> PeopleItem}}</div>
                    <div class="col-md-4">{{> PeopleItem}}</div>
                    <div class="col-md-4">{{> PeopleItem}}</div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="PeopleItem">
    <div class="item">
        <img src="img/user1.png" alt="">
        <div class="content">
            <h5><a href="">Antonio Hppoers</a></h5>
            <small>antonio</small>
        </div>
        <div class="button-group">
            <button class="btn btn-primary">Add</button>
            <button class="btn btn-primary">Send Chirkut</button>
        </div>
    </div>
</template>