<template name="Home">
    <section class="hero">
        <div class="overlay"></div>
        <div class="content">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="icon">
                    <i class="fa fa-sticky-note"></i>
                </div>
                <h3>A new way to create and share information</h3>
                <button class="btn btn-primary">Know More</button>
            </div>
          </div>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <p>Chirkut let you create various types of information and and encript them so 
                that no one can break it except people who has the right permission. Chirkut generates a 6 digit 
                shortcode <small>(e.g. E3G456)</small> of that encripted message.  
                which you can share with people either plublic or private mode.
                People get that information via searching the shortcode in Chirkut App.
            </p>
        </div>
    </section>

    <section class="how-it-works">
        <div class="container">
            <div class="section-title">
                <h3>How it works?</h3>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="item">
                        <div class="icon"><i class="fa fa-plus-circle"></i></div>
                        <h3>Create</h3>
                        <p>Lorem Ipsum is simply dummy text</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <div class="icon"><i class="fa fa-lock"></i></div>
                        <h3>Encript</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <div class="icon"><i class="fa fa-cog"></i></div>
                        <h3>Generate</h3>
                        <p>Generate Shortcode and Scaner Code.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope-open"></i></div>
                        <h3>Decode</h3>
                        <p>Decode the information via the Shortcode</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features">
        <div class="container">
            <div class="section-title">
                <h3>What you can do with chirkut?</h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Connect</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Send</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Encrypt</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Destruct</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Store</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Secure</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="why-use">
        <div class="container">
            <div class="section-title">
                <h3>Why use chirkut?</h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Privte</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Distributed</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Cloud-Based</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Fast</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Powerful</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Shortify</h3>
                        <p>Lorem Ipsum is simply dummy text.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    


</template>